@using System.Diagnostics
@using System.ComponentModel.DataAnnotations
<h3>Input View</h3>
<div class="d-flex gap-2 flex-wrap">
  @if (simsGoogs1 != null)
  {
    foreach (var i in simsGoogs1)
    {
      <MudCard>
        <MudCardHeader>
          <CardHeaderContent>
            <MudText Typo="Typo.h6">文字輸入</MudText>
          </CardHeaderContent>
          <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
          </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
          <MudText>This day everything happened.</MudText>

          <MudTextField T="string" Label="帳號" @bind-Value="Input.Email" For="() => Input.Email" Required RequiredError="User name is required!" />

        </MudCardContent>
        <MudCardActions>
          <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
        </MudCardActions>
      </MudCard>
    }
  }
</div>

@code {
  bool f_loading = false;
  int[]? simsGoogs1 = null;

  InputModel Input = new InputModel();

  protected override async Task OnInitializedAsync()
  {
    f_loading = true;
    await Task.Delay(500);
    simsGoogs1 = Enumerable.Range(1, 5).ToArray();
    f_loading = false;
  }

  private sealed class InputModel
  {
    [Required]
    [EmailAddress]
    public string Email { get; set; } = "foo@mail.server";

    [Required]
    [DataType(DataType.Password)]
    public string Password { get; set; } = "user credential";

    [Display(Name = "Remember me?")]
    public bool RememberMe { get; set; }
  }
}

