@page "/Shopping/Index"
@inject NavigationManager navSvc
@inject ILogger<Index> Logger
@attribute [AllowAnonymous]
@* @inject AccountService accSvc *@

<PageTitle>貨架</PageTitle>

@* <HeadContent>
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
</HeadContent> *@

<MudContainer MaxWidth=MaxWidth.False>
  <MudText Typo=Typo.h3>貨架 SSR</MudText>
  <MudText Typo=Typo.body1 Color=Color.Error>試著能否用爬蟲來抓畫面</MudText>

  <div class="d-flex gap-2 flex-wrap">
    @if (simsGoogs != null)
    {
      foreach (var i in Enumerable.Range(1, 100))
      {
        <MudCard>
          <MudCardHeader>
            <CardHeaderContent>
              <MudText Typo="Typo.h6">模擬商品 @($"{i:0000}")</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
              <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
          </MudCardHeader>
          <MudCardContent>
            <MudText>This day everything happened.</MudText>
            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
          </MudCardContent>
          <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
          </MudCardActions>
        </MudCard>
      }
    }
  </div>
</MudContainer>

@code {
  int[]? simsGoogs = null;

  protected override void OnAfterRender(bool firstRender)
  {
    /// 沒有啟動 interactive 故不會有作用。
    if (firstRender)
    {
      simsGoogs = Enumerable.Range(1, 100).ToArray();
      StateHasChanged();
    }
  }

}
