@page "/auth"
@* @attribute [Authorize] *@
@attribute [AllowAnonymous]

<PageTitle>授權狀態</PageTitle>

<MudContainer>
  <MudText Typo=Typo.h3>授權狀態</MudText>

  <AuthorizeView Context="auth">
    <Authorized>
      <MudText Typo=Typo.h4>You are authenticated</MudText>
      <MudText Typo=Typo.h4>Hello @auth.User.Identity?.Name</MudText>
      </Authorized>
      <Authorizing>
        <MudText Typo=Typo.h4>In authorizing...</MudText>
      </Authorizing>
      <NotAuthorized>
        <MudText Typo=Typo.h4>Not Authorized</MudText>
      </NotAuthorized>
    </AuthorizeView>

    <MudDivider Class="my-3" />

    <MudText Typo=Typo.h4>Auth State</MudText>
    <MudSimpleTable Style="overflow-x: auto;">
      <tbody>
        <tr>
          <td>IsAuthenticated</td>
          <td>@(authUser?.Identity?.IsAuthenticated)</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>@(authUser?.Identity?.Name)</td>
        </tr>
      </tbody>
    </MudSimpleTable>
  </MudContainer>

  @code {
  [CascadingParameter] Task<AuthenticationState> AuthStateTask { get; set; } = default!;

  //## State
  System.Security.Claims.ClaimsPrincipal? authUser = null;

  protected override async Task OnInitializedAsync()
  {
    var authState = await AuthStateTask; // 現在登入狀態
    authUser = authState?.User;
  }
}
