@* 參考自:MudBlazor MudCheckBox 簡化 *@
@* 設計用於 SSG 無 interactive 畫面 *@

<div class="mud-input-control mud-input-control-boolean-input">
  <div class="mud-input-control-input-container">
    <label class="mud-checkbox">
      <span tabindex="0" class="mud-button-root mud-icon-button mud-primary-text hover:mud-primary-hover mud-ripple mud-ripple-checkbox" style="width:48px; height:48px;">
        <InputCheckbox Value=@Value ValueChanged=@ValueChanged name=@Name ValueExpression=@For tabindex="-1" class="mud-checkbox-input" />
        <!--bl:72-->
        <svg role="uncheck-icon" class="mud-icon-root mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" />
        </svg>
        <!--/bl:72-->
        <!--bl:74-->
        <svg role="checked-icon" class="mud-icon-root mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
        </svg>
        <!--/bl:74-->
      </span>
      <!--!-->
      <div class="mud-typography mud-typography-body1">@Label</div>
    </label>
  </div>
</div>

@code {
  [Parameter] public string Name { get; set; } = default!;
  [Parameter] public string Label { get; set; } = default!;
  [Parameter] public bool Value { get; set; }
  [Parameter] public EventCallback<bool> ValueChanged { get; set; }
  [Parameter] public System.Linq.Expressions.Expression<Func<bool>>? For { get; set; }
}
